@{
    ViewData["Title"] = "AboutUs";
}
@*<h1>@ViewData["Title"]</h1>*@

<h1>За нас</h1>
<br>



<p>
    
    <b>Diamond</b> притежава <i>Удостоверение за регистрация</i> от Министерство на финансите за дейности по добиване, преработване и сделки с благородни метали и скъпоценни камъни по занятие - местно производство и от внос.

    Регистрацията в Министерството на финансите е задължителна за всеки търговец на ценни метали и скъпоценни камъни и е гаранция за произхода и автентичността на продуктите. Винаги проверявайте дали търговците, от които пазарувате подобни стоки са изпълнили законовите изисквания!
    <br />
    Можете да се свържете с нас на телефон <i><b>0894 467641</b></i> и <i><b>sales@eliteprecious.com</b></i>
    <br /> <br /> <br />

    <img src="/images/udostowerenie.png" alt="udostoverenie" width="170"  height="500"  align="middle" />

</p>


