@{
    ViewData["Title"] = "AboutUs";
}
<h1>@ViewData["Title"]</h1>

<p>
    Diamond притежава Удостоверение за регистрация от Министерство на финансите за дейности по добиване, преработване и сделки с благородни метали и скъпоценни камъни по занятие - местно производство и от внос.

    Регистрацията в Министерството на финансите е задължителна за всеки търговец на ценни метали и скъпоценни камъни и е гаранция за произхода и автентичността на продуктите. Винаги проверявайте дали търговците, от които пазарувате подобни стоки са изпълнили законовите изисквания!

    Можете да се свържете с нас на телефон 0894 467641 и sales@eliteprecious.com
</p>

