@*
    
*@
@{
    <h3>Контакти:</h3>
    <p>
        <b>Email:</b> jewelry@gmail.com 
        <br>
        <b>Telephone:</b> 087 702 7838
        <br>
        <b>Address:</b>  ул. Васил Левски 14, 4330 Сопот
        <br>
        <b>Работно време:</b>
        Отворено ⋅ Ще затвори в 19:00 ч.

        <br /><br /><br />

        <img src="/images/jewelry_shop.jpg" alt="earring" width="390" align="middle" />
        <br /><br /><br />
    </p>


}
