@*
    
*@
@{
    <p>
        Email:jewerly@gmail.com
        <br>
        Telephone: 087 702 7838
        <br>
        Address: ул. Васил Левски 14, 4330 Сопот
        <br>
        Работно време:
        Отворено ⋅ Ще затвори в 19:00 ч.
    </p>
}
