@*

*@
@{
    <p>
        <h1>Контакти</h1>
        <br>
        <b>Email:</b> jewelry@gmail.com
        <br>
        <b>Telephone:</b> 087 702 7838
        <br>
        <b>Address:</b>  ул. Васил Левски 14, 4330 Сопот
        <br>
        <b>Работно време:</b>
        Отворено ⋅ Ще затвори в 19:00 ч.

        <br /><br /><br />

        <img src="/images/jewelry_shop.jpg" alt="earring" width="390" align="middle" />

    </p>

    //<div class="w3-container w3-content w3-padding-64" style="max-width:800px">
    //    <h2 class="w3-wide w3-center">CONTACT</h2>
    //    <hr style="border:1px;" />
    //    <div class="w3-row w3-padding-32" id="contact">
    //        <div class="w3-col m6 w3-large w3-margin-bottom">
    //            <i class="fa fa-map-marker" style="width:30px"></i> Sopot, Bulgaria<br>
    //            <i class="fa fa-phone" style="width:30px"></i> Phone: +359 869696969<br>
    //            <i class="fa fa-envelope" style="width:30px"> </i> Email: mobilepoint@gmail.com<br>
    //        </div>
    //        <div class="w3-col m6">
    //            <form>
    //                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
    //                    <div class="w3-half">
    //                        <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
    //                    </div>
    //                    <div class="w3-half">
    //                        <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
    //                    </div>
    //                </div>
    //                <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
    //                <button class="w3-button w3-blue w3-section w3-right">SEND</button>
    //            </form>

    //        </div>
    //    </div>
    //</div>


}
