@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h2 class="display-4">Welcome</h2>
    


    <div class="header">
        <h1>D I A M O N D</h1>
        <p>The perfect place!</p>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>Обеци</h2>
                <h5>Earrings, Dec 12, 2022</h5>
                <img src="images/golden_earring.jpg" alt="earring" width="200" align="right" />

                <!--<p><i><b>Видове обеци:</b></i></p>
                <ul>
                    <li>Злато</li>
                    <li>Сребро</li>
                </ul>-->
                <p>
                    Обеци са неизменна част от ежедневето на всяка жена, а при вдигната коса биха били подходящи и за елегантен повод.
                    Фино инкрустирани бели кристали придават наситен блясък, а закопчаването
                    е взаимствано от диамантената бижутерия и гарантира сигурност при носене.
                </p>
            </div>

            <div class="leftcolumn">
                <div class="card">
                    <h2>Колиета</h2>
                    <h5>Necklaces, Sep 7, 2022</h5>
                    <a href="Бижутерия_Diamond_necklace.html">
                        <img src="images/silver_necklace.png" alt="neclace" width="310" />
                    </a>
                    <!-- <p><i><b>Видове колиета:</b></i></p>
                    <ol>
                    <li>Злато</li>
                    <li>Сребро</li>
                    </ol>-->
                    <p>
                        Колиетата красят най-нежната част на тялото на една жена.Те са неизменна част от тоалета на всяка жена, а при по-открита рокля би било подходящо и за елегантно събитие.
                        Фино инкрустирани бели кристали или изцяло изчистени ,или пък дори по-провокативен дизайн биха могли да променят визията на една жената.
                    </p>
                </div>
            </div>

            <div class="leftcolumn">
                <div class="card">
                    <h2>Гривни</h2>
                    <h5>Bratcels, Sep 2, 2017</h5>
                    <a href="Бижутерия_Diamond_bratcel.html">
                        <img src="images/silver_bratcel.png" alt="bratcel" />
                    </a>
                    <!-- <p><i><b>Видове колиета:</b></i></p>
                    <ol>
                        <li>Злато</li>
                        <li>Сребро</li>
                    </ol>-->
                    <p>
                        Гривните са перфектни за ежедневен тоалет, а при официална рокля или костюм биха били подходящи и за елегантен повод,
                        ежедневен тоалет, а при официална рокля или костюм биха били подходящи и за елегантен повод.
                    </p>
                </div>
            </div>

            <div class="leftcolumn">
                <div class="card">
                    <h2>Пръстени</h2>
                    <h5>Rings, Sep 2, 2017</h5>
                    <a href="Бижутерия_Diamond_ring.html">
                        <img src="images/silver_ring.png" alt="ring" />
                    </a>
                    <!-- <p><i><b>Видове колиета:</b></i></p>
                    <ol>
                        <li>Злато</li>
                        <li>Сребро</li>
                    </ol>-->
                    <p>
                        Пръстените са перфектни за ежедневен тоалет, а при официална рокля или костюм биха били подходящи и за елегантен повод,
                        ежедневен тоалет, а при официална рокля или костюм биха били подходящи и за елегантен повод.
                    </p>
                </div>
            </div>

        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2>About Us</h2>
                 <video height="auto" loop="" muted="" autoplay="" width="100%" style="text-align:center;">
                    <source src="Diamond.mp4" type="video/mp4">
                </video>
                <p><b>Jewelry</b></p>
            </div>

            <div class="card">
                <h3>Popular Post</h3>
                <hr />
                <p><b>Комплект</b></p>
                <img src="images/komplekt_sin_kamak.jpg" alt="komplekt" />
                <hr />
                <p><b>Комплект</b></p>
                <img src="images/komplekt.jpg" alt="komplekt" />
                <br />
                <hr />
                <p><b>Комплект</b></p>
                <img src="images/komplekt_swarovski.jpg" alt="komplekt" />
                <br />
                <hr />
                <p><b>Комплект</b></p>
                <img src="images/komplekt_bizhutaaa.jpg" alt="komplekt" />
                <hr />
                <p><b>Комплект</b></p>
                <img src="images/perli_earring.jpg" alt="komplekt" />
            </div>

            <div class="card">
                <h3>Follow Me</h3>
                <p>IG:nkuneva04</p>
            </div>

        </div>
    </div>



   <!-- <div class="footer">
        <h4>Контакти</h4>
        <h4>Тел:0888888888</h4>
        <h4>Емайл:nkuneva425@gmail.com</h4>
        <div class="aboutUs">
            <b>За нас</b>
            <br />
            Бижутата MG са вдъхновени от мощната енергия и скритото значение на полускъпоценните камъни. Създадени в сърцето на древния Пловдив,
    нашите бижута разкриват
    естествената красота на камъните, допълваме тяхната енергия
    с могъщи символи от различни култури и религии.
    Резултатът - модерен, изтънчен и елегантен стил, с дълбоко значение.
        </div>

        <h6>:) &hearts;</h6>
        <p><b>Diamond &reg;</b></p>
    </div>-->
</div>
